manifest {
    homePage = 'https://github.com/IARCbioinfo/Imputation-nf'
    description = 'Pipeline for the imputation of a target dataset against a reference'
    mainScript = 'Imputation_genotypage.nf'
}

profiles {
  conda { 
    process.conda = "$baseDir/environment.yml" 
    conda.createTimeout = "200 min"
    }
  docker { 
    docker.enabled = true 
    process.container = 'iarcbioinfo/imputation-nf:v1.0'
  }
  singularity { 
    singularity.enabled = true 
    process.container = 'shub://IARCbioinfo/Imputation-nf:v1.0'
  }
}

process {
    shell =  ['/bin/bash','-o','pipefail']
}

params {
    output_folder = "/scratch/lipinskib/"
}

timeline {
  enabled = false
  file = "${params.output_folder}/nf-pipeline_info/Imputation_timeline.html"
}

report {
  enabled = false
  file = "${params.output_folder}/nf-pipeline_info/Imputation_report.html"
}

trace {
  enabled = false
  file = "${params.output_folder}/nf-pipeline_info/Imputation_trace.txt"
}

dag {
  enabled = false
  file = "${params.output_folder}/nf-pipeline_info/Imputation_dag.html"
}
